/* portfolio section */

#portfolio {
  border-top: 2px solid var(--medium);
  background-color: var(--muteblue);
  color: var(--light);
  line-height: 2rem;
  font-size: 1rem;
  display: flex;
  padding: 20px 0px 50px 25px;
  margin: 0;
  text-shadow: none;
  width: 98.5%;
}
#portfolio h2 {
  flex: 0 9%;
  text-align: left;
  justify-content: start;
  padding: 0px;
  font-size: 25px;
  flex: 1;
  color: var(--light);
}
.portfolio {
  flex: 1 5 70%;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sites {
  flex-basis: 40%;
  /* width:450px; */
  height: 400px;
  background-color: var(--muteblue);
  border: 3px solid var(--dark);
  margin: 15px;
  border-radius: 10px;
  /* display: flex;
    flex-direction: column;
    align-items: center; */
  position: relative;
}
.card-body {
  text-align: center;
}
.card-body .title {
  padding: 0;
}
.card-body .github {
  text-decoration: none;
  color: var(--blues);
}
.image {
  object-fit: cover;
  width: 90%;
  height: 80%;
  padding: 5px 30px 0 30px;
  position: relative;
  /* left: 15px; */
  opacity: 1;
}
#port-one {
  flex-basis: 100%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
.sites:hover img {
  opacity: 0.4;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.sites .btn {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 5;
}
.sites:hover .btn {
  opacity: 1;
  background-color: #b7d1e7;
  border: 2px solid var(--blues);
}
.sites .btn a {
  color: var(--blues);
  font-weight: bold;
}
@media screen and (max-width: 1200px) {
  /* start portfolio section */
  #portfolio div {
    display: block;
  }
  #portfolio h2 {
    padding-right: 20px;
  }
  .sites {
    height: 200px;
    padding: 10px;
    margin: auto 0;
  }

  .card-body {
    display: inline-flex;
    text-align: center;
  }
  .card-body .title {
    font-size: 30px;
    padding: 0;
    float: left;
  }
  .card-body .github {
    float: right;
  }
  .image {
    margin: 0;
  }
}
.category {
  margin: 15px 0;
}
.categories {
  color: var(--light);
  list-style-type: none;
}
.categories a:link {
  text-decoration: none;
  color: var(--light);
}
.categories a:hover {
  text-shadow: 2px 1px 1px var(--blues);
}
.categories a:visited {
  color: var(--light);
}
.categories:first-of-type {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  #portfolio {
    padding: 0;
    width: 100%;
  }
  #portfolio h2 {
    text-align: center;
  }
}
