:root {
  --dark: #635c5a;
  --medium: #6d6362;
  --light: #cfbfbe;
  --xlight: #f5e0df;
  --blues: #387db9;
  --muteblue: #1e4b735b;
}
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--dark);
  text-shadow: 1px 1px 1px gray;
  font-family: Georgia, serif;
  width: 100%;
}

/* main section with cards and biography */

/* multiple navbars */
.repeat-nav {
  display: flex;
  flex: 0 100%;
  justify-content: flex-end;
  padding: 0 20px;
  margin: 0;
  background-color: rgba(16, 43, 66, 0.4);
}
.nav-item {
  padding: 10px;
  font-size: 15px;
}
.nav-link:hover {
  text-shadow: 2px 1px 1px var(--blues);
}
/* end of multiple navbars */

/* portfolio section */

#portfolio {
  border-top: 2px solid var(--medium);
  background-color: var(--muteblue);
  color: var(--light);
  line-height: 2rem;
  font-size: 1rem;
  display: flex;
  padding: 20px 0px 50px 25px;
  margin: 0;
  text-shadow: none;
  width: 98.5%;
}
#portfolio h2 {
  flex: 0 9%;
  text-align: left;
  justify-content: start;
  padding: 0px;
  font-size: 25px;
  flex: 1;
  color: var(--light);
}
.portfolio {
  flex: 1 5 70%;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sites {
  flex-basis: 40%;
  /* width:450px; */
  height: 400px;
  background-color: var(--muteblue);
  border: 3px solid var(--dark);
  margin: 15px;
  border-radius: 10px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  position: relative;
}
.card-body {
  text-align: center;
}
.card-body .title {
  padding: 0;
}
.card-body .github {
  text-decoration: none;
  color: var(--blues);
}
.image {
  object-fit: cover;
  width: 90%;
  height: 80%;
  padding: 5px 30px 0 30px;
  position: relative;
  /* left: 15px; */
  opacity: 1;
}
#port-one {
  flex-basis: 100%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
.sites:hover img {
  opacity: 0.4;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.sites .btn {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 5;
}
.sites:hover .btn {
  opacity: 1;
  background-color: #b7d1e7;
  border: 2px solid var(--blues);
}
.sites .btn a {
  color: var(--blues);
  font-weight: bold;
}
/* start education section */
.education h2 {
  flex: 0 9%;
}
.alledu {
  display: flex;
  flex-wrap: wrap;
  flex: 1 5 600px;
}
.alledu div {
  padding: 30px;
  width: 470px;
  text-align: center;
  display: flex;
  flex: 3 5 30%;
  flex-direction: column;
}
.alledu div:nth-child(2) {
  border-right: 2px solid var(--dark);
  border-left: 2px solid var(--dark);
}
.alledu div table {
  align-items: center;
}
.school {
  font-size: 1.5vw;
}
table {
  margin: 25px 15px;
}
.grad-year {
  padding: 5px 20px;
  font-size: 1vw;
}
.grad-title {
  padding: 5px 20px;
}
.grad-title h4 {
  font-size: 1.2vw;
}
.grad-title p {
  font-size: 0.9vw;
}
.t-row {
  text-align: center;
  margin: 0px;
}
/* end of education section */
/*start of contact me */
.contact {
  justify-content: space-between;
  padding-right: 20px;
  width: 97.5%;
}
.contact h2 {
  flex: 0 10%;
}

.contact-table {
  margin: 20px;
  color: var(--light);
  max-width: 50%;
}
.contact-table td {
  max-width: 200px;
  font-size: 1rem;
}
i {
  padding: 0px 30px;
  font-size: 1.5em;
}
.icons {
  height: 30px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  /* start portfolio section */
  #portfolio div {
    display: block;
  }
  #portfolio h2 {
    padding-right: 20px;
  }
  .sites {
    height: 200px;
    padding: 10px;
    margin: auto 0;
  }

  .card-body {
    display: inline-flex;
    text-align: center;
  }
  .card-body .title {
    font-size: 30px;
    padding: 0;
    float: left;
  }
  .card-body .github {
    float: right;
  }
  .image {
    margin: 0;
  }

  /* education section */
  .education {
    max-width: 100vw;
  }
  .alledu {
    flex-direction: column;
  }
  .alledu div {
    width: 70%;
  }
  .alledu div:nth-child(2) {
    border: none;
  }
  .school {
    font-size: 25px;
  }
  .grad-year h4 {
    font-size: 15px;
  }
  .grad-title h4 {
    font-size: 20px;
  }
  .grad-title p {
    font-size: 15px;
  }
  /* end of education section */

  /* contact section */
  .contact {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .components {
    flex-direction: column;
    width: 100%;
    padding: 15px 0 15px 0;
  }
  .components h2 {
    text-align: center;
    text-decoration: underline;
  }
  #portfolio {
    padding: 0;
    width: 100%;
  }
  #portfolio h2 {
    text-align: center;
  }
  .alledu div {
    width: 100%;
    padding: 0;
  }
  .school {
    font-size: 20px;
  }
  .grad-year h4 {
    font-size: 10px;
  }
  .grad-title h4 {
    font-size: 15px;
  }
  .grad-title p {
    font-size: 10px;
  }
}
@media screen and (max-width: 575px) {
  .repeat-nav {
    display: none;
  }
}
